<%= form_for @article do |f| %>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title, class: "form-control" %>
  </p>
  <p>
    <%= f.label :body, 'Body' %>
    <%= f.text_area :body, rows: 10, class: "form-control" %>
  </p>
  <p>
    <%= f.label :tag_list, 'Tags' %>
    <%= f.text_field :tag_list, class: "form-control" %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>
