<!DOCTYPE html>
<html>
  <head>
    <title>Blogger | <%= @page_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :cache => true %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :cache => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/navbar' %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8"> <%= yield %> </div>
        <div class="col-xs-6 col-md-4"></div>
      </div>
    </div>
  </body>
</html>
